@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

:root{
    --white:#fff;
    --black:#333;
    --light-color:#666;
    --light-bg:#eee;
    --light-font-bg:#ec0c8c;
    --border:.2rem solid rgba(0,0,0,.1);
    --box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}


*{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none !important;
    text-transform: capitalize;
    transition: .2s linear;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

body{
    background-color: #010103 !important;
}

section{
    padding: 2rem 7%;
}

.heading{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
    font-weight: 600;
}

.heading span{
    text-transform: uppercase;
    color: #ec0c8c;
}


.link-btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem  3rem;
    font-size: 1.7rem;
    color: black;
    background-color: yellow;
    cursor: pointer;
    text-decoration: none !important;
    border-radius: 30px;
}

.link-btn:hover{
    letter-spacing: .2rem;
    color: black !important;
}


.header{
    background-color: #010103;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: .1rem solid rgba(255,255,255,.3);
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
}

.header .logo img{
    height: 12rem;
}

.header .nav a{
    margin: 0 1rem;
    font-size: 2.2rem;
    color: #fff;
    text-decoration: none !important;
}

.header .nav a:hover{
    color: #ec0c8c;
    border-bottom: .1rem solid #ec0c8c;
    padding-bottom: .5rem;
}

.header .icons div{
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover{
    color:#d4a47f;
}

#menu-btn{
    font-size: 2.5rem;
    color: white;
    cursor: pointer;
    display: none;
}

.home{
    background: url(../images/home.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content {
    width: 70rem;
    padding: 2rem;
}

.home .content h3{
    font-size: 9rem;
    text-transform: uppercase;
    color: var(--white);
    padding: 2rem 0rem;
}

.home .content p{
    background-color: rgba(0,0,0,.7);
    line-height: 2;
    font-size: 2rem;
    color: var(--white);
    padding: 1rem 0;
}
/* EDICION DE LETRAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAS */
.g {
    font-size: 12rem;
    color: #fff;
    font-weight: bold;
    font-family: 'Anton', sans-serif;
}

.r {
    font-size: 12rem;
    color: #fff;
    font-weight: bold;
    font-family: 'Anton', sans-serif;
}

.a {
    font-size: 12rem;
    color: #fff;
    font-weight: bold;
    font-family: 'Anton', sans-serif;
}

.f {
    font-size: 12rem;
    color: #fff;
    font-weight: bold;
    font-family: 'Anton', sans-serif;
}

.i {
    font-size: 12rem;
    color: #fff;
    font-weight: bold;
    font-family: 'Anton', sans-serif;
}

.c {
    font-size: 12rem;
    color: #fff;
    font-weight: bold;
    font-family: 'Anton', sans-serif;
}

.aa {
    font-size: 12rem;
    color: #fff;
    font-weight: bold;
    font-family: 'Anton', sans-serif;
}

.g:hover {
    color: #d400d4;
    font-size: 15rem;
    font-weight: 900;
}
.r:hover {
    color: #00ccff;
    font-size: 15rem;
    font-weight: 900;
    text-transform: uppercase;
}
.a:hover {
    color: #fff202;
    font-size: 15rem;
    font-weight: 900;
    text-transform: uppercase;
}
.f:hover {
    color: black;
    font-size: 15rem;
    font-weight: 900;
    text-transform: uppercase;
}
.i:hover {
    color: #7ed957;
    font-size: 15rem;
    font-weight: 900;
    text-transform: uppercase;
}
.c:hover {
    color: #ff914d;
    font-size: 15rem;
    font-weight: 900;
    text-transform: uppercase;
}
.aa:hover {
    color: #ff914d;
    font-size: 15rem;
    font-weight: 900;
    text-transform: uppercase;
}



.p {
    font-size: 12rem;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Anton', sans-serif !important;
}

.o {
    font-size: 12rem;
    color: #a6467a;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Anton', sans-serif !important;
}

.gg {
    font-size: 12rem;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Anton', sans-serif !important;
}

.oo {
    font-size: 12rem;
    color: #db1a48;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Anton', sans-serif !important;
}

.p:hover {
    color: #a6467a;
    font-size: 15rem;
    font-weight: 900;
    text-transform: uppercase;
}

.o:hover {
    color: #fff;
    font-size: 15rem;
    font-weight: 900;
    text-transform: uppercase;
}

.gg:hover {
    color: #db1a48;
    font-size: 15rem;
    font-weight: 900;
    text-transform: uppercase;
}

.oo:hover {
    color: #fff;
    font-size: 15rem;
    font-weight: 900;
    text-transform: uppercase;
}

/*FIINNNN DE LA  EDICION DE LETRAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAS */
.nosotros .row{
    display: flex;
    align-items: center;
    background-color: #13131a;
    flex-wrap: wrap;
}

.nosotros .row .image{
    flex: 1 1 45rem;
}

.nosotros .row .image img{
    width: 100%;
}

.nosotros .row .content {
    flex: 1 1 45rem;
    padding: 2rem;
    
}

.nosotros .row .content h3{
    font-size: 3rem;
    color: #fff;
    text-transform: none;
}

.nosotros .row .content p{
    font-size: 1.6rem;
    color: #ccc;
    padding: 1rem 0;
    line-height: 1.8;
    text-transform: none;
}
/* fin de about */
/* GARRUCEL */
.processLed{
    margin-top: 13rem;
}
.cereza {
    transform: translate(-250px, 0px);
    margin-bottom: 5rem;
    margin-top: 5rem;
}
/* FIN CARRUCEL */
.process {
    background-color: #010103;
}

.process .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}
.process .box-container .box {
    height: 300px;
    border-radius: 5px;
    border: solid #666;
    background: var(--i);
    background-size: cover;
    box-shadow: 3px 5px 5px rgba(3, 32, 51, .8);
    overflow: hidden;
}

.content-trabajo {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .4);
    opacity: 0;
    transition: .5s;
}


.process .box-container .box .content-trabajo h3{
    color: rgba(255, 255, 255, .8);
    margin: 10px 0;
}
.process .box-container .box .content-trabajo a{
text-decoration: underline !important;
color: rgba(255, 255, 255, .8);
font-size: 1.5rem;
}

.box:hover .content-trabajo {
    background-color: #010103d2 ;
    opacity: 1;
}

.process .box-container .box .content-trabajo p{
    font-size: 1.5rem;
    color: var(--white);
    line-height: 2;
}

/* fin del process */

/* EMAIL */
.email {
    font-size: 2rem;
    color: #ccc;
}
/* FIN DE EMAIL */

.footer {
    background: #010103;
    text-align: center;
    border-top: solid #333;
}

.footer .shar{
    padding: 1rem 0;
}

.footer .shar a{
    padding: 1rem 0;
    height: 6rem;
    width: 6rem;
    line-height: 4rem;
    font-size: 3rem;
    color: #fff;
    border: var(--border);
    margin: 1rem;
    border-radius: 50%;
}

.footer .shar a:hover{
    background: #e612f9;
}

.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
}

.footer .links a{
    padding: .7rem 2rem;
    color: #fff;
    border: .1rem solid rgba(255,255,255,.3);
    font-size: 2rem;    
}

.footer .links a:hover{
    background: #fff202;
    color: black;
}

.footer .creditos{
    font-size: 2rem;
    color: #fff;
    font-weight: lighter;
    padding: 1.5rem;
}

.footer .creditos span{
    color: #fff202;
}

.map{
    margin: 5%;
} 



/* SLIDEEEEEEEEE */
.slider {
    width: 75vw;
    height: auto;
    margin: auto;
    overflow: hidden;
}

.slider .slide-track {
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(200px * 14);
    margin: 1rem;
    gap: 2rem;
}

.slider .slide {
    width: 200px;
}

.slider .slide img {
    width: 100%;
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-200px * 7));
        transform: translateX(calc(-200px * 7));
    }
}S
/* FIN DEL SLIDEEEEEEEEEE */



/* MEDIA QUERIES */

@media (max-width:991px) {

    html{
        font-size: 55%;
    }

    .header .link-btn{
        display: none;
    }

    section{
        padding: 5rem 2rem;
    }
}


@media (max-width:768px){
    .link-btn {
        display: none;
    }

    section{
        padding: 3rem 1rem;
        text-align: center;
    }

    #menu-btn{
        display: inline-block;
        transition: .2s linear;
    }

    #menu-btn.fa-times{
        transform: rotate(180deg);
    }

    .header .nav{
        position: absolute;
        top: 99%; left: 0; right: 0;
        background-color: var(--white);
        border-top: var(--border);
        border-bottom: var(--border);
        padding: 1rem 0;
        text-align: center;
        flex-flow: column;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: .2s linear;
    }


    .header .nav.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);;
    }


    .header .nav a{
        margin: 1rem 0;
        font-size: 2rem;
        color: black;
    }

    .home{
        background-position: left;
    }

    .home .content{
        width: auto;
    }

}

@media (max-width:450px){
    .link-btn {
        display: none;
    }

    html{
        font-size: 50%;
    }

    .home .content h3{
        font-size: 4rem;
    }

    .heading{
        font-size: 3rem;
    }
}






